@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-secondary: #ffffff;
  --color-accent: #94a3b8;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

/* Marquee Animation */
.marquee-container {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.marquee-container:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}